<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="BarByBar"
    Language="2052"
    Version="$(var.AppVersion)"
    Manufacturer="BarByBar"
    UpgradeCode="A516BBBA-3B66-4A27-9F44-03D52CB9D89D">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perUser" InstallPrivileges="limited" Platform="x64" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Icon Id="AppIcon.ico" SourceFile="$(var.AssetsDir)\barbybar-icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="INSTALLDIR" Name="BarByBar">
          <Directory Id="DATADIR" Name="data" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="BarByBar" />
      </Directory>
    </Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="StartMenuShortcutComponent" Guid="A795531F-D2BB-4EDC-9EC0-F0F89755F3D1">
        <Shortcut
          Id="ApplicationStartMenuShortcut"
          Name="BarByBar"
          Description="BarByBar"
          Target="[INSTALLDIR]BarByBar.exe"
          WorkingDirectory="INSTALLDIR"
          Icon="AppIcon.ico" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\BarByBar" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DATADIR">
      <Component Id="DataFolderComponent" Guid="FAF5F8D7-30E2-4F79-8823-A216AF2A77F8">
        <CreateFolder />
        <RegistryValue Root="HKCU" Key="Software\BarByBar" Name="DataFolder" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="MainFeature" Title="BarByBar" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="StartMenuShortcutComponent" />
      <ComponentRef Id="DataFolderComponent" />
    </Feature>
  </Product>
</Wix>
